# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static
/collected_static
local_settings.py

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Certbot / SSL
certbot/conf/
certbot/www/

# Node (если Tailwind через npm)
node_modules/